// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background,
.tabs-md .tabbar,
.content-md,
.item-md,
.tabs-ios .tabbar,
.content-ios,
.item-ios {
  background: #ab894d;
  background: -moz-linear-gradient(top, #ab894d 0%, #76603a 100%);
  background: -webkit-linear-gradient(top, #ab894d 0%,#76603a 100%);
  background: linear-gradient(to bottom, #ab894d 0%,#76603a 100%);
}

.tab-button-text {
  color:#fff;
}

.toolbar-title-md,
.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default,
.tabs-md .tab-button[aria-selected=true] .tab-button-icon,
.tabs-md .tab-button[aria-selected=true] .tab-button-icon,
.content-md,
.item-md,
.toolbar-title-ios,
.bar-button-default-ios,
.bar-button-clear-ios-default,
.bar-button-ios-default,
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon,
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon,
.content-ios,
.item-ios {
    color: #fff;
}

.toolbar-md,
.toolbar-ios {
  min-height: 45px;
}

.commonName {
  max-width:85%;
  overflow: initial;
  white-space: initial;
}
