<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{this.commonname}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <p>
      <span class="latinName">Latin Name:</span>
      {{this.latinname}}
  </p>
  <img src="assets/img/{{this.type}}Photos/{{this.photos[0].src}}" class="header"/>

  <div padding>
    <h4 class="detailTitle">Identification:</h4>
    <p>
        {{this.identification}}
    </p>

    <span *ngIf="hasVoice">
      <h4 class="detailTitle">Voice:</h4>
      <p>
          {{this.voice}}
      </p>
      <ion-list no-lines class="media">
        <span class="center">Play Sounds:</span>
        <hr />
        <ion-item ion-item *ngFor="let sound of this.media" >
          <button class="media" ion-button block (click)="openModal(sound.src, this.type, 'sound', this.commonname)">{{sound.title}}</button>
        </ion-item>
        <hr />
      </ion-list>
    </span>

    <h4 class="detailTitle">Habitat:</h4>
    <p>
        {{this.habitat}}
    </p>

    <h4 class="detailTitle">Breeding:</h4>
    <p>
      {{this.breeding}}
    </p>

    <h4 class="detailTitle">Range:</h4>
    <p>
      {{this.range}}
    </p>

    <span *ngIf="hasStatus">
      <h4 class="detailTitle">Status:</h4>
      <p>
          {{this.status}}
      </p>
    </span>

    <h4 class="detailTitle">More Information</h4>
    <p>
      View this species on the <a href="{{ this.moreinfo }}" target="_blank">Michigan DNR Page</a>
    </p>


    <h4 class="detailTitle">Photos</h4>
    <ion-slides pager="true">
      <ion-slide *ngFor="let photo of this.photos">
        <img data-src="assets/img/{{this.type}}Photos/{{photo.src}}" (click)="openModal(photo.src, this.type, 'photo', this.commonname)" />
      </ion-slide>
    </ion-slides>

  </div>

</ion-content>
