<ion-content *ngIf="isAudio">

  <h2 class="modalTitle">{{ itemName }}</h2>

  <video *ngIf="isAudio" controls autoplay name="media">
    <source src="assets/sounds/{{itemToShow}}" type="audio/mpeg">
  </video>

  <button class="modalClose" ion-button block (click)="closeModal()">Back</button>

</ion-content>

<ion-content *ngIf="isPhoto">
  <ion-icon class="modalClose2" name="close-circle" (click)="closeModal()"></ion-icon>
  <ion-slides pager="true">
    <ion-slide *ngFor="let photo of itemToShow">
      <img data-src="assets/img/{{category}}Photos/{{photo.src}}" />
    </ion-slide>
  </ion-slides>
</ion-content>
